# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
*.egg-info/
dist/
build/

# Logs
logs/
*.log

# Environment variables
.env

# IDE/Editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Dependency directories
coverage/